
#navigatePageButtons a{
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}

.buttonDiv{
    display: grid;
    place-content: center;
    height: 10vh;
    width: 10vh;
    border-radius: 50%;
    border: 2px solid yellow;
}

#up{
    position: absolute;
    top: 5%;
    left: calc(50% - 5vh);
}

#right{
    position: absolute;
    top: calc(50% - 5vh);
    right: 2.5%;
}

#down{
    position: absolute;
    bottom: 5%;
    left: calc(50% - 5vh);
}

#left{
    position: absolute;
    top: calc(50% - 5vh);
    left: 2.5%;
}