*{
    margin: 0;
    padding: 0;
}
/* HIDE SCROLLBAR */
*::-webkit-scrollbar{
    display: none;
}
* {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.container{
    background-color: black;
    height: 100vh;
    width: 100%;

    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

.page{
    display: grid;
    height: 100vh;
    width: 100%;
    scroll-snap-align: start;
}

.pageContent{
    display: grid;
    place-content: center;
}

.container #aboutMe > div{
    background-color: red;
}

.container #whatToWatch{
    display: grid;
    grid-template-columns: repeat(2, 100%);
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}

.container #whatToWatch > div{
    background-color: green;
}

.container #mathSnake{
    display: grid;
    grid-template-columns: repeat(2, 100%);
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}

.container #mathSnake > div{
    background-color: blue;
}

.container #shoppingWithEase{
    display: grid;
    grid-template-columns: repeat(2, 100%);
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}

.container #shoppingWithEase > div{
    background-color: purple;
}

.container #contactMe > div{
    background-color: firebrick;
}

.subPage{
    display: grid;
    height: 100vh;
    width: 100%;
    scroll-snap-align: start;
}

/* OPEN PROJECT IN NEW PAGE BUTTON */
.subPage a{
    display: grid;
    place-content: center;
    text-decoration: none;
    color: black;
    font-size: 2rem;
    box-shadow: 0 0 15px 5px black;
    border-radius: 10px;
    background-color: aqua;
    height: max-content;
    width: max-content;
    padding: 5%;
}
